# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Misc.
*.ncb
*.suo
*.user
*.exp
*.ilk
*.pdb

# Intermediates and built files
Build/
lua-5.2.1/bin/Lua.exe
lua-5.2.1/bin/LuaDLL.dll
lua-5.2.1/bin/LuaDLL.lib

# Latex intermmediates
*.log
*.synctex.gz
*.aux