# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Misc.
*.ncb
*.suo
*.user
*.exp
*.ilk
*.pdb

# Intermediates and built files
Build/