<!DOCTYPE html>
<html>
	<head>
	<title>GALua</title>
    <link rel="stylesheet" type="text/css" href="http://www.keplerproject.org/doc.css"/>
	</head>
	<body>
	
	<div id="container">
	
	<div id="product">
		<div id="product_logo">
			<a href="http://www.lua.org/"><img alt="GALua" src="lua-logo-ga.png"></a>
		</div><!-- id="product_logo" -->
		<div id="product_name"><big><strong>GALua</strong></big></div>
		<div id="product_description">Geometric Algebra Library for the Lua Programming Language</div>
	
	</div><!-- id="product" -->
	
	<div id="main">
	
	<div id="navigation">
	<h1>GALua</h1>
	<ul>
		<li><strong><a href="index.html" target="_top">Home</a></strong></li>
		<li>
			<strong><a href="howto.html" target="_top">Tutorials</a></strong>
			<ul>
				<li><a href="tutorial_requiring.html" target="_top">Requireing GALua</a></li>
				<li><a href="tutorial_def_ga.html" target="_top">Defining the GA</a></li>
				<li><a href="tutorial_basic_math.html" target="_top">Math Ops</a></li>
				<li><a href="tutorial_printing_mvs.html" target="_top">Printing</a></li>
				<li><a href="tutorial_manipulating_mvs.html" target="_top">Manipulation</a></li>
				<li><a href="tutorial_cgautil.html" target="_top">CGAUtil</a></li>
				<li><a href="tutorial_more_info.html" target="_top">More Info</a></li>
			</ul>
		</li>
	</ul>
	</div><!-- id="navigation" -->
	
	<div id="content">
	
	{{ content }}
	
	</div><!-- id="content" -->
	
	</div><!-- id="main" -->
	
	<div id="about">
	<p>Copyright (C) 2013, by Spencer T. Parkin</p>
	</div><!-- id="about" -->
	
	</div><!-- id="container" -->
    
	</body>
</html>
